.App {
  text-align: center;
}

body {
  font-size: 24px;
  font-family: 'Open Sans';
  background-color: #8d8d8d;
}

h2 {
  font-size: 20px;
  font-family: 'Open Sans';
  font-weight: 300;
  color: #fff;
  margin: 0px;
}

#drum-machine {
  margin: 5px;
  height: calc(100vh - 10px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  width: 100%;
  height: 550px;
  display: grid;
  padding: 10px;
  grid-gap: 15px;
  border-radius: 15px;
  grid-template-columns: 1fr;
  background: linear-gradient(
    -225deg,
    #222 0%,
    #f7f7f7 10%,
    #222 30%,
    #f7f7f7 90%,
    #222 100%
  );
}

.keyboard {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.keyboard .drum-pad,
.changeMode {
  width: 100%;
  height: 60px;
  outline: none;
  cursor: pointer;
  position: relative;
  top: 0px;
  text-decoration: none;
  font-size: 20px;
  background: #f57936;
  padding: 0px;
  border: 1px solid #bc4809;
  border-radius: 5px;
  box-shadow: 0px 5px 0px #bc4809;
  color: #fff;
  text-shadow: 1px 1px 1px #bc4809;
  transition: All 250ms ease;
}

.keyboard .drum-pad:active,
.changeMode:active {
  position: relative;
  top: 5px;
  background-color: #fff;
  border: 1px solid #fff;
  text-shadow: 1px 1px 1px #fff;
  color: #f57936;
  box-shadow: none !important;
  transition: All 250ms ease;
}

@media (min-width: 768px) {
  .wrapper {
    width: 680px;
  }

  .keyboard .drum-pad {
    height: 80px;
    font-size: 25px;
    padding: 15px 50px;
  }

  .control button {
    font-size: 20px;
  }

  .controlControler .changeMode {
    width: 160px;
  }

  input {
    width: unset;
  }

  svg {
    margin-right: 8px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    width: 810px;
    height: unset;
  }
}

.control {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.control button {
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 10px;
}

.onOff {
  position: relative;
  top: 0px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  background: #df4242;
  padding: 15px 50px;
  margin: 0px 0px auto auto;
  border: 1px solid #a01b1b;
  border-radius: 5px;
  box-shadow: 0px 5px 0px #a01b1b;
  color: #222;
  text-shadow: 1px 1px 1px #a01b1b;
  transition: All 250ms ease;
  width: 120px;
}

.onOff:active {
  position: relative;
  top: 5px;
  background: #fff;
  border: 1px solid #fff;
  color: #df4242;
  text-shadow: 1px 1px 1px #fff;
  box-shadow: none !important;
  transition: All 250ms ease;
}

.onOff.isOff {
  background: #7cc576;
  color: #fff;
  border: 1px solid #46963f;
  box-shadow: 0px 5px 0px #46963f;
  text-shadow: 1px 1px 1px #46963f;
}

.onOff.isOff:active {
  position: relative;
  top: 5px;
  background: #fff;
  border: 1px solid #fff;
  color: #46963f;
  text-shadow: 1px 1px 1px #fff;
  box-shadow: none !important;
  transition: All 250ms ease;
}

.displayContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 50%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    315deg,
    #2ec2dd 0%,
    #177c8e 35%,
    #2ec2dd 70%,
    #177c8e 100%
  );
  color: #fff;
  padding: 10px;
  justify-content: space-around;
}

svg {
  margin-right: 4px;
}

.displayContainerInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 50%;
  align-items: center;
}

.controlControler {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 25%;
  align-items: center;
}

.controlControler .changeMode {
  width: 110px;
  height: 40px;
}

input {
  width: 100px;
}
